{% set url = path("ad_show", {"id": ad.id, "slug": ad.slug}) %}
{% set rating = ad.avgRating %}

<div class="card hover-shadow">
   <div 
      class="bg-image hover-overlay ripple"
      data-mdb-ripple-color="light"
      >
      <img
         src="/uploads/thumbnails/{{ ad.thumbnail }}"
         class="img-fluid"
         alt="Img fluid"
      />
      <a href="{{ url }}">
         <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
      </a>
   </div>
   <div class="card-body">
      <h5 class="card-title text-truncate" title="{{ ad.title }}">{{ ad.title }}</h5>
      <p class="card-text overflow-hidden" style="max-height: 47px" title="{{ ad.introduction }}"><small>{{ ad.introduction }}</small></p>
      <div class="card-body__details">
         <ul class="list-unstyled text-muted">
            <li>
               <small>
                  <i class="fas fa-map-marker me-2"></i>{{ ad.city }}
               </small>
            </li>
            <li>
               <small>
                  <i class="fas fa-hotel me-2"></i>{{ ad.rooms }}
               </small>
            </li>
            <li>
               <small>
                  <i class="fas fa-money-bill-alt me-2"></i>{{ ad.price }} DH
               </small>
            </li>
            <li>
               <small>
                  <i class="fas fa-calendar me-2"></i>{{ ad.publishedAt|date('j F Y') }}
               </small>
            </li>
         </ul>
      </div>
   </div>
   <div class="card-footer bg-light d-flex justify-content-between align-items-center">
      <div>
         <small class="text-warning">
            {{ include('/partials/rating.html.twig') }}
            <strong class="text-muted">({{ ad.comments|length }})</strong>
         </small>
      </div>
      <small class="{% if app.user and app.user == ad.owner %}d-none{% endif %}"><a href="{{ url }}">Voir plus</a></small>
      {% if app.user and app.user == ad.owner %}   
      <!-- Action -->
      <div class="dropdown">
         <i
            class="fas fa-pen"
            role="button"
            id="dropdownMenuLink"
            data-mdb-toggle="dropdown"
            aria-expanded="false">
         </i>
      
         <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li>
               <a 
                  class="dropdown-item" 
                  href="{{ path('ad_edit', {'id': ad.id, 'slug': ad.slug}) }}">
                  <i class="fas fa-pen mr-2"></i>
                  Modifier l'annonce
               </a>
            </li>
            <li>
               <a 
                  class="dropdown-item" 
                  href="{{ path('ad_delete', {'id': ad.id, 'slug': ad.slug}) }}"
                  onclick="return confirm('Voulez-vous vraiment supprimer cette annonce `{{ ad.title }}`?')">
                  <i class="fas fa-trash mr-2"></i>
                  Supprimer l'annonce
               </a>
            </li>
         </ul>
      </div>
      {% endif %}
   </div>
</div>