{% extends 'base.html.twig' %}

{% block title %}
   Edition de mot de passe
{% endblock %}

{% form_theme form _self %}

{% block body %}
<div class="container mt-5">
   <div class="row align-items-center">
      <!-- User's profile -->
      <div class="col-md-3">
         {{ include('side nav/side-nav-profile.html.twig') }}
      </div>
      <!-- Edit form -->
      <div class="col-md-9">
         <div class="row justify-content-center">
            <div class="col-md-10">
               <div class="user-edit__password">
                  <div class="user-edit__password-heading text-center mb-5">
                     <h4>Mot de passe</h4>
                     <p>Vous pouvez modifier votre mot de passe en mettant un autre mot de passe compliqué</p>
                  </div>
                  <div class="user-edit__password-form-edit">
                     {{ form_start(form) }}
                        <h6 class="mb-2">Mot de passe</h6>
                        <!-- Old password field -->
                        <div class="form-outline">
                           {{ form_widget(form.oldPassword) }}
                           <i class="fa fa-eye toggle-password" data-toggle="#{{ form.oldPassword.vars.id }}"></i>
                           {{ form_label(form.oldPassword, null, {
                              'label_attr': {
                                 'class': 'form-label'
                              }
                           }) }}
                           <small class="form-help">{{ form_help(form.oldPassword) }}</small>
                           {% if form_errors(form.oldPassword) is not empty %}
                              <div class="form-error mt-3">
                                 {{ form_errors(form.oldPassword) }}
                              </div>
                           {% endif %}
                        </div>
                        <small 
                           class="text-muted d-inline-block mb-4 {% if form_errors(form.oldPassword) is not empty %}invisible{% endif %}">
                           Tapez <strong>correctement</strong> le mot de passe actuel
                        </small>
                        
                        <!-- New password field -->
                        <div class="form-outline">
                           {{ form_widget(form.newPassword) }}
                           <i class="fa fa-eye toggle-password" data-toggle="#{{ form.newPassword.vars.id }}"></i>
                           {{ form_label(form.newPassword, null, {
                              'label_attr': {
                                 'class': 'form-label'
                              }
                           }) }}
                           <small class="form-help">{{ form_help(form.newPassword) }}</small>
                           {% if form_errors(form.newPassword) is not empty %}
                              <div class="form-error mt-3">
                                 {{ form_errors(form.newPassword) }}
                              </div>
                           {% endif %}
                        </div>
                        <small 
                           class="text-muted d-inline-block mb-4 {% if form_errors(form.newPassword) is not empty %}invisible{% endif %}">
                           Entre <strong>8</strong> et <strong>25</strong> caractères
                        </small>
                        
                        <!-- new password confirm field -->
                        <div class="form-outline">
                           {{ form_widget(form.confirmNewPassword) }}
                           <i class="fa fa-eye toggle-password" data-toggle="#{{ form.confirmNewPassword.vars.id }}"></i>
                           {{ form_label(form.confirmNewPassword, null, {
                              'label_attr': {
                                 'class': 'form-label'
                              }
                           }) }}
                           <small class="form-help">{{ form_help(form.confirmNewPassword) }}</small>
                           {% if form_errors(form.confirmNewPassword) is not empty %}
                              <div class="form-error mt-3">
                                 {{ form_errors(form.confirmNewPassword) }}
                              </div>
                           {% endif %}
                        </div>
                        <small 
                           class="text-muted d-inline-block mb-4 {% if form_errors(form.confirmNewPassword) is not empty %}invisible{% endif %}">
                           Veuillez confirmer correctement le mot de passe
                        </small>
                        
                        <!-- Backup button -->
                        <button class="btn btn-primary d-block">
                           <i class="fas fa-save mr-2"></i>
                           Sauvegarder
                        </button>
                     {{ form_end(form) }}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}